body { background: #8d0307; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 48px; display: flex; }
.block-email-0 { color: #18d319; font-size: 13px; margin-bottom: 5px; }
.block-user-1 { color: #19eab8; font-size: 12px; margin-bottom: 5px; }
.block-order-2 { color: #c8ef15; font-size: 17px; margin-bottom: 5px; }
.block-uploader-3 { color: #987a3f; font-size: 13px; margin-bottom: 5px; }
.block-uploader-4 { color: #8d4e6c; font-size: 19px; margin-bottom: 5px; }